<h1>
  {{title}}
</h1>

<div class="row" *ngFor="let kpi of filterKPIs">
  <div class="offset-lg-1 col-lg-10">
    <div class="kpi-datasource-outer border border-primary rounded">
      <div class="row">
        <button type="button" class="close text-danger kpi-close" (click)="deleteKPI(kpi)">
          <span>&times;</span>
        </button>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <app-kpi-datasource></app-kpi-datasource>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <button type="button" class="btn btn-link float-left" (click)="addKPI()">Add KPI to filter</button>
  <button type="button" class="btn btn-primary float-right" (click)="export()">Export</button>
</div>